* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #030405;
    color: rgb(223, 220, 220);
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo a {
    
    font-size: 24px;
    font-weight: bold;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;

  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 40px;
  }
  form {
    background-color: #e6e0e0;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 15px rgba(248, 246, 246, 0.1);
    
  }
  
  label {
    font-weight: 500;
  }
  
  .btn-left{ text-align: right;

  }

  button[type="submit"] {
    display: block;
    width: 20%;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 6px;
    margin-top: 20px;
    text-align: left;
    color: rgb(241, 247, 241);
    background-color: #12bb2e;
  }
  
  input[type="file"] {
    background-color: #f1f1f1;
    padding: 5px;
    border-radius: 5px;
  }
  
  input::placeholder {
    font-style: italic;
  }
  .user-icon {
    position: relative;
    margin-left: auto;
    margin-right: 1rem;
  }
  .container my-5{
    color: darkgray;
    

  }
  .row g-3{
    text-align: justify;
display: flex;
align-items: justify;
  }
  img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;}
    footer{
      width: auto;
      background-color: #030405;
    color: rgb(223, 220, 220);
    padding: 15px 30px;
   
    align-items: center;
    
    text-align: center;
  
    }
    table th, table td {
      padding: 10px;
      text-align: left;
      white-space: nowrap;
    }